

/* ==========================================================================
CTA
========================================================================== */

.post-content .cta {
    border: 3px solid #f26a3d;
    padding:1em 2em;
    margin-bottom:4rem;
}
.post-content .cta h4 {
    margin-bottom:0;
}
